<!DOCTYPE html>
<html lang="en">
 
<head>

{% include 'html_includes/header.html' %}

</head>

<!-- Primary Page Layout -->

<body>

<main role="main" class="inner cover">

<div class="container">

  <!-- Page Heading -->
  <div align="center">
 
  {% if user %}
        <p><h1>Hello! {{ user }} </h1>   </p> 
  {% endif %}

  <p class="mv_header_title">  <h1> vaidyaLib - Find the books you are looking for </h1>  </p> 
  <h2> <a href="/logout">Logout</a> </h2>

      
   
      <div class="col-lg-6 col-sm-6 portfolio-item">
        <div class="card h-100 border border-primary">
            
            <div class="card-body">
              <h4 class="card-title"> <a href="\search">Search Books  </h4>
               
 

            </div>
        </div>
      </div>
       
  
  </div>
      <!-- /.page heading-->
</div>
<!-- /.container -->
 

{% include 'html_includes/end_js.html' %}

</main>

 
</body>
</html>
