<!DOCTYPE html>
<html lang="en">
 
<head>

{% include 'html_includes/header.html' %}

</head>

<!-- Primary Page Layout -->

<body>

<main style="text-align: center;">

     <div class="mv_header_title">

            <h2> Welcome to vaidyaLib by Manish Vaidya </h2>
            <h3> <i> Find all your favorite books </i> </h3>
            <h4> Login to your account or register to create one </h4>
    </div>

    <div class="col-sm-3 mv_nav_items " style="text-align: center;"> </div>

    <div class="col-sm-6 mv_nav_items " style="text-align: center;">  

            <ul>
                <li class="col-sm-6"><a href="/login" class="btn form-control btn-success">Login</a></li>
                <li class="col-sm-6"><a href="/register" class="btn form-control btn-primary">Register</a></li>
            </ul>
    </div>
         

{% include 'html_includes/end_js.html' %}

</main>


</body>
</html>
